.headerC{
    background-color: black;
   margin-top: 0%;
   margin-bottom: 0%;
   padding-top: 5%;
   padding-bottom: 3%;
   border-bottom-width: 10px;
   border-bottom-style: groove;
   border-bottom-color: white;
   border-radius: 3%;
}

.field{

 justify-content: center;

 
}
ul{
    list-style: none;
}

.titulli{
    padding: 2% 3%;
    display: flex;
    color: white;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-around;
    
    
}

.titulli:hover{
background-color: white;
color: black;
}

.titulli:active{
    opacity: 0.2;
}

.image{
    
    width: 200px;
    height: 200px;
}

.search-bar{
    background-color: aqua;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    padding: 0.5%;
    color: brown;

}



.photoLajme{
    display: flex;
    margin: 0 2%;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    padding: 5px;

}
.rubrika{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 0;
    width: 500px;
    height: 280px;

}
.Pershkrimi{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.rubrika>img{
    width: 450px;
    height: 250px;
    object-fit: cover;

}
main{
    background-color: aqua;
}
.footerC{
    background-color: black;
   padding-bottom: 5%;
   padding-top: 3%;
   border-top-width: 10px;
   border-top-style: groove;
   border-top-color: white;
   border-radius: 3%;
   color: white;
   
   
   
}
.logot{
    list-style: none;
}

.logo{
    display: flex;
    width: 75px;
    height: 75px;
    padding: 20px 20px;
}
.logo:hover{
cursor: pointer;
}
.referencat{
list-style: none;
}
.referenca{
display: flex;
padding: 20px 20px;
justify-content: center;

}
.referenca:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}