.headerC{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15 15 px;
    background-color: black;
   border-bottom-width: 10px;
   border-bottom-style: groove;
   border-bottom-color: white;
   border-radius: 1%;
}

.titujt{
 list-style: none;
 display: flex;
 justify-content: center;


}

.titulli{
    padding: 2% 3%;
    color: white;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.titulli:hover{
background-color: white;
color: black;
}
.image{
    display: flex;
    width: 90px;
    height: 90px;
    padding-left: 2%;
    padding-bottom: 1.5%;
}

.search-bar{
    display: flex;
    justify-content: right;
    background-color: aqua;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    

}



.photoLajme{
    display: flex;
    margin: 0 2%;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    padding: 5px;

}
.rubrika{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 0;
    width: 500px;
    height: 280px;

}
.Pershkrimi{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.rubrika>img{
    width: 450px;
    height: 250px;
    object-fit: cover;

}
main{
    background-color: aqua;
}
.footerC{
    background-color: #111;
   padding-bottom:0.5%;
   padding-top: 0.5%;
   border-top-width: 10px;
   border-top-style: groove;
   border-top-color: white;
   border-radius: 3%;
   color: white;
   
 
}
.logot{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    justify-content: space-around;
    
}
.referencat{
font-size: larger;
display: flex;
padding: 20px 20px;
justify-content: center;
list-style: none;
justify-content: space-between;
color: white;


}
.referenca a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: 0.4s;
}
.referenca a:hover{
    opacity: 1.5;
}
.Copy{
    background-color: #000;
    padding: 17px;
    text-align: center;
}
.Copy p{
    color: white;
}