.headerC{
    background-color: black;
   margin-top: 0%;
   margin-bottom: 10%;
}
.buttonfield{
display: flex;
 justify-content: space-between;
}
.butoni{
    
    border-radius: 15%;
    color: black
}
.butoni:hover{
background-color: black;
color: white;
}





























.photoLajme{
    display: flex;
    margin: 0 2%;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    padding: 5px;

}
.rubrika{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 0;
    width: 500px;
    height: 280px;

}
.Pershkrimi{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.rubrika>img{
    width: 450px;
    height: 250px;
    object-fit: cover;

}
main{
    background-color: aqua;
}